nav {
	width: 100%;
	top: 0;
	left: 0;
	text-align: right;
	position: fixed;
}

nav a {
	text-decoration: none;
	font-family: 'Erica One', cursive;
	color: orange;
}

nav > ul > li {
	display: inline-block;
	padding: 0 15px;
}

.current {
	text-decoration: underline;
}

#landingpage {
	text-align: left;
	background-color: black;
	height: 800px;
	margin-top: 75px;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
}

#sitename {
	font-family: 'Erica One', cursive;
	font-size: 80px;
	color: white;
	height: 50px;
	margin-left: 10px;
}

body {
	margin: 15px;
}

h3 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.25em;
	color: pink;
	margin-left: 10px;
	height: 20px;
}

p {
	font-family: 'Erica One', cursive;
	font-size: 1.5em;
}

.welcome {
	margin-left: 10px;
}

section {
	height: 1400px;
	background-size: cover;
	background-attachment: fixed;
	margin-top: -55px;
	padding-top: 30px;
	font-size: 1.5em;
}

/*.wrapper {
    padding: 10px;
}*/
.button {
	width: 100%;
	float: left;
	margin-top: 250px;
	font-size: 3em;
	text-align: center;
	color: orange;
/*	position: relative;*/
}

.winter {			
	background-image: url(homepageimg.jpg)
}
.spring {
	background-image: url(gowanus.jpg)
}
.summer {
	background-image: url(boerumhill.jpg)
}
.autumn {
	background-image: url(redhook.jpg)
}
.bedstuy {
	background-image: url(bedstuy.jpg)
}
#dumbo {
	background-image: url(dumbo.jpg)
}
